<div class="help-widget-container">
    <h1 class="help-icon">?</h1>

    <div class="help-content">
        <div class="name-content">
            <img ngSrc="assets/png/favicon.png" alt="JS Icon" height="30" width="30">
            <h2>{{ 'HELP.TITLE' | translate }}</h2>
        </div>

        <h3>{{ 'HELP.GAME_TITLE' | translate }}</h3>
        <p>{{ 'HELP.GAME_DESC' | translate }}</p>
        <br>

        <h3>{{ 'HELP.REVIEWS_TITLE' | translate }}</h3>
        <p>{{ 'HELP.REVIEWS_DESC' | translate }}</p>
        <br>

        <h3>{{ 'HELP.SCORE_TITLE' | translate }}</h3>
        <p>{{ 'HELP.SCORE_DESC' | translate }}</p>
        <br>

        <h3>{{ 'HELP.SETTINGS_TITLE' | translate }}</h3>
        <p>{{ 'HELP.SETTINGS_DESC' | translate }}</p>
        <br>

        <h3>{{ 'HELP.PROFILE_TITLE' | translate }}</h3>
        <p>{{ 'HELP.PROFILE_DESC' | translate }}</p>

        <h6>{{ 'HELP.FOOTER' | translate }}</h6>
    </div>
</div>
